# SPDX-FileCopyrightText: Copyright (c) 2026 Texas Instruments
# SPDX-License-Identifier: Apache-2.0

config COUNTER_TI_AM3352_EQEP
	bool "Whether to enable TI EQEP counter driver"
	default y
	depends on DT_HAS_TI_AM3352_EQEP_ENABLED
	depends on CLOCK_CONTROL
	select PINCTRL
	select MUX if DT_HAS_TI_AM13E230_XBAR_IN_ENABLED
	help
	  Enables the TI EQEP counter driver.
